%tr{class: ('adult' unless movie.rating =~ /^G|PG$/)}
  %td= movie.title 
  %td= movie.rating
  %td= movie.release_date
  %td= link_to "More about #{movie.title}", movie_path(movie), class: 'movie_info'
  %td= link_to 'Edit info', edit_movie_path(movie)
  %td= link_to 'Delete', movie_path(movie), :method => :delete